//
// Collapse!
//

 
$collapse-duration: 500ms;

.collapse {

	&__header {
		padding: 1rem 0;

		a[aria-expanded="true"],
		button[aria-expanded="true"] {
			color: #888;
		}
	}

	&__body {
		overflow: hidden;
		height: 0;
		
		&.collapse--open {
			height: auto;
		}

		&.collapse--closing {
			height: auto;
		}

		&.collapse--toggling {
			transition: height $collapse-duration ease;
			overflow: hidden;
		}
	}
}
