//
// Backgrounds
//-----------------------------------------

// @import "../assets/scss/functions";


@function str-replace($string, $search, $replace: '') {
	$index: str-index($string, $search);
  
	@if $index {
	  @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}
  
	@return $string;
}

  
$popup-content-bg-color: #fff;
$popup-overlay-bg-color: rgba(#000, 0.75);
$close-btn-color: #555;

$popup-padding-mobile: 32px 16px;
$popup-padding-desktop: 18px 50px 40px;

$popup-max-width: 640px;

$popup-zoom-in: true;
$popup-animate-start: translate(-50%, -50%);
$popup-animate-end: $popup-animate-start;
$popup-transition: none;

@if $popup-zoom-in {
	$popup-transition: transform 350ms ease-in-out, opacity 350ms ease-in-out;
	$popup-animate-start: translate(-50%, -50%) scale3d(0.8, 0.8, 0.8);
	$popup-animate-end: translate(-50%, -50%) scale3d(1, 1, 1);
}

$icon-color: str-replace("#333", "#");
$icons: (
	"close":
		"data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='40px' height='40px' viewBox='0 0 40 40' style='enable-background:new 0 0 40 40;' xml:space='preserve'%3E%3Cpath fill='%23#{$icon-color}' d='M24.2,20L37.3,6.9c1.2-1.2,1.2-3.1,0-4.2c-1.2-1.2-3.1-1.2-4.2,0L20,15.8L6.9,2.7c-1.2-1.2-3.1-1.2-4.2,0 c-1.2,1.2-1.2,3.1,0,4.2L15.8,20L2.7,33.1c-1.2,1.2-1.2,3.1,0,4.2c0.6,0.6,1.4,0.9,2.1,0.9s1.5-0.3,2.1-0.9L20,24.2l13.1,13.1 c0.6,0.6,1.4,0.9,2.1,0.9s1.5-0.3,2.1-0.9c1.2-1.2,1.2-3.1,0-4.2L24.2,20z'/%3E%3C/svg%3E%0A",
	"arrow_r":
		"data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='arrow' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 277 480' style='enable-background:new 0 0 277 480;' xml:space='preserve'%3E%3Cpath fill='%23#{$icon-color}' d='M35.97,476c-7.92,0-15.83-3.02-21.87-9.06c-12.08-12.08-12.08-31.67,0-43.75L197.29,240L14.09,56.81 c-12.08-12.08-12.08-31.67,0-43.75c12.08-12.08,31.67-12.08,43.75,0l205.07,205.07c12.08,12.08,12.08,31.67,0,43.75L57.84,466.94 C51.8,472.98,43.88,476,35.97,476z'/%3E%3C/svg%3E%0A",
	"arrow_l":
		"data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='arrow' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 277 480' style='enable-background:new 0 0 277 480;' xml:space='preserve'%3E%3Cpath fill='%23#{$icon-color}' d='M241.03,4c7.92,0,15.83,3.02,21.87,9.06c12.08,12.08,12.08,31.67,0,43.75L79.71,240l183.19,183.19 c12.08,12.08,12.08,31.67,0,43.75c-12.08,12.08-31.67,12.08-43.75,0L14.09,261.87c-12.08-12.08-12.08-31.67,0-43.75L219.16,13.06 C225.2,7.02,233.12,4,241.03,4z'/%3E%3C/svg%3E%0A",
);

@mixin get-icon($icon, $_color: #333) {
	//inline data uri's performance isn't very good, so consider an icon font!
	$icon-color: str-replace($_color + "", "#");
	background-image: url(map-get($icons, $icon));
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.popup {
	 
	transition: $popup-transition;
	opacity: 0;
	 
	&__content {
		width: 100%;
		max-width: $popup-max-width;
		padding: $popup-padding-mobile;
		background: $popup-content-bg-color;
		position: absolute;
		z-index: 2000;
		left: 50%;
		top: 50%;
		transition: $popup-transition;
		transform: $popup-animate-start;
		opacity: 0;

		&.popup--show-popup {
			transform: $popup-animate-end;
			opacity: 1;
		}
	}

	&__content-body {
		transition: all 300ms ease-in-out;
		overflow: hidden;
		margin-top: .5rem;
	}

	&__caption {
		margin: .5rem 0;
	}

	&__btn-close {
		display: inline-block;
		position: absolute;
		right: 16px;
		top: 16px;

		&:hover {
			opacity: 0.8;
		}
	}

	.icon-close {
		min-height: 16px;
		min-width: 16px;
		display: block;
		@include get-icon(close, $close-btn-color);
	}
	.icon-arrow-r {
		min-height: 48px;
		min-width: 24px;
		display: block;
		@include get-icon(arrow_r, $close-btn-color);
	}
	.icon-arrow-l {
		min-height: 48px;
		min-width: 24px;
		display: block;
		@include get-icon(arrow_l, $close-btn-color);
	}



	&.popup--show-popup {
		// display: block;
		opacity: 1;
		.popup__overlay {
			z-index: 1999;
			height: 100%;
			width: 100%;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: block;
			background: $popup-overlay-bg-color;
		}
	}

	&__controls {
		display: flex;
		align-content: space-between;
		justify-content: space-between;
	}
}


.btn--popup {
	background: transparent;
	border: 0;
	font-size: 2rem;
	line-height: 1;
	padding: 0.125rem 1rem;
}

.popup__loader {
	border: 3px solid rgba(#333, 0.2);
	border-top-color: #333;
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	animation: popup-loader 1s linear infinite;
}
.popup__loader-outer {
	position: absolute;
	z-index: 1000;
	top: 50%;
	left: 50%;
	display: inline-block;
	transform: translate(-50%, -50%);
}

@keyframes popup-loader {
	to {
		transform: rotate(360deg);
	}
}
