
@mixin alignments($breakpoint) {

	//text
	.#{$breakpoint}text-left,
	.#{$breakpoint}text-l{text-align: left;}
	.#{$breakpoint}text-center,
	.#{$breakpoint}text-c{text-align: center;}
	.#{$breakpoint}text-right,
	.#{$breakpoint}text-r{text-align: right;}

	//containers
	.#{$breakpoint}fl-none,
	.#{$breakpoint}float-none{float:none;}
	.#{$breakpoint}fl-right,
	.#{$breakpoint}float-r{float: right;}
	.#{$breakpoint}fl-left,
	.#{$breakpoint}float-l{float: left;}
}
