//
// Columns
// --------------------------------------------------

$columns-amount: 12;

@mixin global-col-props(){
	$both-list: null;
	$col-list: null;

	@each $breakpoint in $breakpoints {
		$thisBreakpoint: '';

		@if($breakpoint != "BASE"){
			$thisBreakpoint: $breakpoint+'-';
		}

		@for $i from 1 through $columns-amount {
			$both-list: append($both-list, unquote(".#{$thisBreakpoint}col-#{$i},.#{$thisBreakpoint}wide-#{$i}"), comma);
			$col-list: append($col-list, unquote(".#{$thisBreakpoint}col-#{$i}"), comma);
		}
	}
	#{$col-list}{
		width: 100%;
		padding-right:$col-gutter;
		padding-left:$col-gutter;
	}
	#{$both-list} {
		float:left;
		min-height: 1px;
	}
}

@mixin columns($breakpoint) {

	@if($breakpoint == "BASE"){
		$breakpoint: '';
	}

	@for $i from 1 through $columns-amount {

		.#{$breakpoint}col-#{$i},
		.#{$breakpoint}wide-#{$i}{
			width: ($i / $columns-amount) * 100%;
		}
	}
	//in case we need to override a padding responsively
	//that is set by another class that doesn't have
	//responsive breakpoints
	.#{$breakpoint}col-pad-l{padding-left: $col-gutter !important;}
	.#{$breakpoint}col-pad-r{padding-right: $col-gutter !important;}
}
