
@mixin display($breakpoint) {
	@if($breakpoint == "BASE"){
		$breakpoint: '';
	}

	//unorderd list properties
	.#{$breakpoint}inline-ul ul,
	.#{$breakpoint}inline-ul{
		display:inline-block;
		list-style:none;
		padding:0;
		margin:0;
	}
	.#{$breakpoint}inline-ul li{
		display:inline-block;
		list-style:inherit;
		margin-top: 0;
		margin-bottom: 0;
	}
	.#{$breakpoint}block-li li{display:block;}

	//general display properties
	.#{$breakpoint}less-hide{display:none !important;}
	.#{$breakpoint}inline{display:inline;}
	.#{$breakpoint}inline-block{display:inline-block; float:none; max-width:100%;}
	.#{$breakpoint}block{display:block;}
	.#{$breakpoint}table{display:table;content:none;}
	.#{$breakpoint}table-cell{display:table-cell;}
	.#{$breakpoint}v-align-t{vertical-align: top;}
	.#{$breakpoint}v-align-m{vertical-align: middle;}
	.#{$breakpoint}v-align-b{vertical-align: bottom;}

	//flexbox
	.#{$breakpoint}flex-sp-between,
	.#{$breakpoint}flex-l,
	.#{$breakpoint}flex-r,
	.#{$breakpoint}flex-m,
	.#{$breakpoint}flex-b,
	.#{$breakpoint}flex-t,
	.#{$breakpoint}flex-c{
		display: flex;
		flex-flow: row wrap;
		&:after,
		&:before{
			content:none;
		}
	}

	.#{$breakpoint}flex-sp-between{
		align-content: space-between;
		justify-content: space-between;
	}

	.#{$breakpoint}flex-l{
		justify-content: flex-start;
		align-content: flex-start;
	}

	.#{$breakpoint}flex-r{
		justify-content: flex-end;
		align-content: flex-end;
	}

	.#{$breakpoint}flex-c{
		justify-content:center;
		align-content: center;
	}
	.#{$breakpoint}flex-m{
		align-items:center;
	}

	.#{$breakpoint}flex-t{
		align-items:top;
	}
	.#{$breakpoint}flex-b{
		align-items:end;
	}

	// flex order
	.#{$breakpoint}order-1{order:1;}
	.#{$breakpoint}order-2{order:2;}
	.#{$breakpoint}order-3{order:3;}
	.#{$breakpoint}order-4{order:4;}

	// positioning
	.#{$breakpoint}relative{position: relative;}
	.#{$breakpoint}static{position: static;}

	// margin
	.#{$breakpoint}margin-auto,
	.#{$breakpoint}center{
		margin-left:auto;
		margin-right:auto;
		float:none !important;
	}



	.#{$breakpoint}horizontal-padded{
		&,
		&-l{padding-left:4rem; }

		&,
		&-r{padding-right: 4rem;}
	}

}