//
//Image Right and Left
//---------------------


// /*#modifiers/img right-left#*/
// /*use in conjuction with the 'wide-' classes
// 	i.e. <img class="md-img-l md-wide-6 wide-12" src="fillmurray.jpg" />
//
// 	or use on outer container
// 	<figure class="img-c sm-img-4 md-wide-6 sm-wide-5"><img></figure>
// */


@mixin imageLR($breakpoint){

	.#{$breakpoint}img-r{
		margin-left:1rem;
		margin-bottom:1rem;
		float:right
	}
 	.#{$breakpoint}img-l{
		margin-right:1rem;
		margin-bottom:1rem;
		float:left;
	}
	.#{$breakpoint}img-center,
	.#{$breakpoint}img-c,
	.#{$breakpoint}img-center img,
	.#{$breakpoint}img-c img{
		margin-left:auto;
		margin-right:auto;
		width: auto;
		float: none;
	}

}
