<footer class="site-footer" id="site-footer" role="contentinfo">
	<h2 class="sr-only">Footer Information</h2>
	<div class="container">
			<p><small><strong>Baseframe JS</strong> {{version}}<br>
				MIT License (or use/modify as needed, and at your own risk)</small></p>
		</div>
	</div>
</footer>
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/cash/8.1.0/cash.min.js"></script>
{{!-- <script
    src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
    integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
    crossorigin="anonymous"></script> --}}

<script src="{{path.root}}assets/js/demo.js"></script> 