<footer class="site-footer" id="site-footer" role="contentinfo">
	<h2 class="sr-only">Footer Information</h2>
	<div class="container">
			<p><small><strong>Baseframe</strong> {{version}}<br>
				MIT License (or use/modify as needed, and at your own risk)<br>
				Using {{#if use-jquery}}JQuery{{else}}<a href="https://www.npmjs.com/package/cash-dom">Cash</a>{{/if}} Library</small></p>
		</div>
	</div>
</footer>
{{!-- {{#if use-jquery}} --}}

{{!-- <script
	src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script> --}}
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/cash/8.1.0/cash.min.js"></script>

<script src="./assets/js/demo.js"></script> 