<footer class="site-footer" id="site-footer" role="contentinfo">
	<h2 class="sr-only">Footer Information</h2>
	<div class="container">
			<p><small><strong>Baseframe JS</strong> {{version}}<br>
				MIT License (or use/modify as needed, and at your own risk)</small></p>
		</div>
	</div>
</footer>

{{!-- <script src="{{path.root}}assets/js/demo-cash.js"></script>  --}}
<script src="{{path.root}}assets/js/demo.js"></script> 