<header class="site-header" id="site-header">
	<div class="container">
		<nav id="main-nav" class="main-nav">
			<a href="/" class="logo">
				<span class="sr-only">Baseframe, navigate home</span>
			</a>
			<ul>
				<li><a href="#">Jump-to Plugins</a>
					{{>plugins-list}}
				</li>
			</ul>
			<button class="mobile-nav-btn" id="mobile-nav-btn">
				<span></span>
			</button>
		</nav>
	</div>
</header>