<ul>
    <li><a href="#section-parallax">Parallax</a></li>
    <li><a href="#section-tabs">Tabs</a></li>
    <li><a href="#section-collapse">Collapse</a></li>
    <li><a href="#section-toastr">Toastr</a></li>
    <li><a href="#section-modal">Modal</a></li>
    <li><a href="#section-selectEnhance">Select Box Enhance</a></li>
    <li><a href="#section-nav">Accessible Menu / Mobile and Desktop Nav</a></li>
    <li><a href="#section-lazyLoad">Lazy Load</a></li>
</ul>