//
// Tags
//-----------------------------------------

//nobody likes the outlines on things ;-)
:hover,
:active,
:focus {outline: none;}

/*#tags#*/
img{
	height:auto;
	width: auto;
	max-width: 100%;
}
body,
html,
body > form{
	width: 100%;
	height:100%;
	margin:0;
	padding:0;
}
body{
	background: $body-bg;
	font-size: 100%;
	font-weight: 400;
	color:$font-body-color;
	font-family: $font-body;
	line-height: $font-body-line-height;
}

figure{margin: 0 0 1rem 0;}
*{box-sizing:border-box; outline-color: transparent; outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* <-- removes the tap color on IOS devices*/}
*:hover, *:active, *:focus{outline:0;}


h1,h2,h3,h4,h5,h6{
	font-family:$font-headings;
	font-weight:normal;
	//remove that pesky spacing above when its the first item
	&:first-child,&.first-child{margin-top:0;}
	&:last-child,&.last-child{margin-bottom:0;}
}
h1{font-size:2em; margin:.625em 0}
h2{font-size:1.5em; margin:.825em 0}
h3{font-size:1.25em; margin:1em 0}
h4{font-size:1em; margin:.825em 0}
h5{font-size:1em; margin:.825em 0}
h6{font-size:1em; margin:.825em 0}

//desktop headings
@include breakpoint(md){
	h1{font-size:2.5em;}
	h2{font-size:1.75em;}
	h3{font-size:1.25em;}
	h4{font-size:1em;}
	h5{font-size:.825em;}
	h6{font-size:.675em;}
}

p{
	margin:0 0 1rem;
	&:first-child,&.first-child{margin-top:0;}
	&:last-child,&.last-child{margin-bottom:0;}
}
.text-md {
	font-size: 1.25rem;
}

.text-lg {
	font-size: 1.5rem;
}
a, a:visited{
	color: $link-color;
	transition: all 100ms;
	&:hover{
		color: $link-hover-color;
	}
	&.no-decoration{
		text-decoration:none;
	}
}

ul,ol{
	padding-left:1rem;
	overflow: hidden; //forces the dots to stay contained
	li{
		font-size: 1.125rem;
		margin: .5rem 0;
	}
}


.sr-only {
	display: none !important;
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}


.the-plugins-list {
	ul {
		list-style: none;
		font-size: 1.5rem;
		padding-left:0;
		li {
			margin: .5rem 0;

			a {
				border: 1px solid $brand-primary;
				display: block;
				padding: .375rem;
			}
		}
		 
	}
}