//
//Form
//

label, .EditingFormLabel {
	font-size: .875em;
	padding: 1.625rem 0 .75rem;
	display: inline-block;
	font-weight: 700;
	text-transform: uppercase;
}

input {
	&[type=checkbox] + label,
	&[type=radio] + label {
		padding: .125rem;
		padding-left: .5ex;
		text-transform: none;
	}
}

label{
	+ input {
		&[type=checkbox],
		&[type=radio] {
			margin-left: 1rem;
		}
	}
}

.required,
.ErrorLabel {
	color: $color-warning;
}

.FormPanel {
	table {
		width: 100%;
	}
	width: 100%;
}

textarea,
input {
	&[type=text],
	&[type=password],
	&[type=email]
	 {
		border: $input-border;
		width: 100%;
		padding: .3rem .5rem;
		min-height: $input-min-height;
		color: inherit;
		font-family: inherit;
		@include placeholder-text{
			font-family: inherit;
			font-family: $input-placeholder-color;
		}
		//Kentico Adds in their own crappy version of a watermark sometimes
		&.WatermarkText{
			font-family: inherit;
			color: $input-placeholder-color;
		}
	}

	&:focus{
		border: $input-border-focus;
	}
}

textarea {
	//this needs tp default a bit taller
	min-height: 8rem;
}


//phone numbers
input {
	&[maxlength='3'] {
		max-width: 2.7rem;
		text-align: center;
	}
	&[maxlength='4'] {
		max-width: 3.7rem;
		text-align: center;
	}
}

.input-zip {
	max-width: 7rem;
}

.input-phone {
	max-width: 11rem;
}

.phone-inputs {
	label {
		display: none;
	}
	input {
		margin: 0 .3ex;
	}
}

.catchpa-area .editing-form-control-nested-control label{display: none;}

.EditingFormErrorLabel {
	color: $color-warning;
	font-size: .875rem;
}

