//
// Backgrounds
//-----------------------------------------

$popup-max-width: 640px;

.popup-content{
	width: 100%;
	max-width: $popup-max-width;
	padding: 32px $col-gutter;
	background: $white;
	position: absolute;
	z-index: 2000;

	@include breakpoint(md){
		padding: 18px 50px 40px;
	}
}


.popup-container{
	display: none;
	&.show-popup{
		display: block;

		.popup-overlay{
			z-index: 1999;
			height: 100%;
			width: 100%;
			position: fixed;
			top:0;
			left:0;
			right:0;
			bottom:0;
			display: block;
			background: rgba($black,.75);
		}
	}
}
#unsubscribe-checkbox-reasons{
	width: 100%;
	max-width: 324px;
	padding-bottom: 14px;

	label{
		color:$white;
	}
}

