//
// Button
//-----------------------------------------

.btn {
 
	border-radius: $btn-border-radius;
	cursor: pointer;
	text-decoration: $btn-text-decoration;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	vertical-align: middle;
	color: $btn-color;
	font-family: $btn-font;
	font-weight: $btn-font-weight;
	font-size: $btn-font-size;
	background: $btn-bg-color;
	display: inline-block;
	padding: $btn-padding;
	outline: thin dotted transparent;
	outline-offset: 0.125rem;
	line-height: 1;
	white-space: nowrap;
	 
	 
	&:hover {
		color: $btn-color;
		background: $btn-bg-hover-color;
		 
		text-decoration: $btn-text-hover-decoration;
	}

	&:focus {
		outline-color: $btn-focus-color;
	}
}

.btn {
	&.btn--outline {
		background: none;
		border: 0.625rem solid;
		color: $white;
	}
}
