<section class="container">
	<div>
		<h2 id="section-nav">Navigation 
			<a href="https://github.com/krschroeder/baseframe_js#nav-mobile-plugin" target="_baseframe">Mobile</a> / 
			<a href="https://github.com/krschroeder/baseframe_js#nav-desktop-plugin" target="_baseframe">Desktop</a> /
			<a href="https://github.com/krschroeder/baseframe_js#accessible-menu-plugin" target="_baseframe">Accessible Menu</a>

		</h2>
		<p>Navigation below features some edge detection on the fly-out nav elements, also little hover delay. Then all the links can be navigated with the arrow keys (on desktop).</p>
	</div>
    <div class="section-nav">
		<a href="/" class="logo">
			<span class="sr-only">Baseframe, navigate home</span>
		</a>
		<button class="mobile-nav-btn" id="mobile-nav-btn-example">
			<span></span>
		</button>
        <nav id="example-nav" class="main-nav">
			<ul>
				<li><a href="#">About</a></li>
                <li><a href="#">News</a></li>
				<li><a href="#">Cool Cars</a>
					<ul>
						<li><a href="#">Lamborghini</a>
                            <ul>
                                <li><a href="#">Muira</a></li>
                                <li><a href="#">Countach</a></li>
                                <li><a href="#">Diablo</a></li>
                                <li><a href="#">Aventador</a></li>
                            </ul>
                        </li>
						<li><a href="#">Ferrari</a>
							<ul>
								<li><a href="#">Testarosa</a></li>
								<li><a href="#">F40</a>
									<ul>
										<li><a href="#">Cool facts</a></li>
										<li><a href="#">History behind it</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="#">Porche</a>
                            <ul>
                                <li><a href="#">959</a></li>
                                <li><a href="#">911</a></li>
                                <li><a href="#">Carerra GT</a></li>
                            </ul>
                        </li>
						<li><a href="#">Ford</a>
                            <ul>
                                <li><a href="#">GT</a></li>
                                <li><a href="#">Shelby Mustang</a></li>
                            </ul>
                        </li>
					</ul>
				</li>
				<li><a href="#">Cool JS Plugins</a>
					{{>plugins-list}}
				</li>
			</ul>
		</nav>
    </div>
</section>