<section class="container">
    
    <h2 id="section-collapse">
        <a href="https://github.com/krschroeder/baseframe_js#other" target="_baseframe">Other</a></h2>
    <div>
        <h3>Debounce</h3>
        <p>Button will display clicked status after 500ms.</p>
        <div>
            <button class="btn" id="btn-debounce-test">Debounce Click</button>
            <code class="code--inline">Not Clicked :-(.</code>
        </div>
    </div>
</section> 