<section class="container">
    <h2 id="section-selectEnhance">
        <a href="https://github.com/krschroeder/baseframe_js#select-enhance-plugin" target="_baseframe">Selectbox Enhance</a></h2>
    <div>
         <label for="select-1">Famous Rock Bands</label><br>
        <select id="select-1">
            <optgroup label="Classic Rockers">
                <option value="The Doors">The Doors</option>
                <option value="Led Zeppelin">Led Zeppelin</option>
                <option value="Jimi Hendrix">Jimi Hendrix</option>
                <option value="The Who">The Who</option>
                <option value="The Rolling Stones">The Rolling Stones</option>
                <option value="Warren Zevon">Warren Zevon</option>
            </optgroup>
            <optgroup label="90's + Rockers">
                <option value="Nirvana">Nirvana</option>
                <option value="RHCP">Red Hot Chili Peppers</option>
                <option value="Soundgarden">Soundgarden</option>
                <option value="Incubus">Incubus</option>
                <option value="The White Stripes">The White Stripes</option>
                <option value="The Strokes">The Strokes</option>
            </optgroup>
        </select>
        <br>
        <br>
        <label for="another-select">Famous Guitarists</label><br>
        <select id="another-select">
            <option value="Jimmy Page">Jimmy Page</option>
            <option value="Eric Clapton">Eric Clapton</option>
            <option value="Jeff Beck">Jeff Beck</option>
            <option value="Jimmy Hendrix">Jimmy Hendrix</option>
            <option value="Stevie Ray Vaughan">Stevie Ray Vaughan</option>
            <option value="Joe Walsh">Joe Walsh</option>
            <option value="Django Reinhardt">Django Reinhardt</option>
            <option value="Robert Johnson">Robert Johnson</option>
            <option value="Joe Pass">Joe Pass</option>
        </select>
    </div>
</section>