<section class="container">
    <h2 id="section-tabs">Tabs</h2>
    <div class="tabs__container tabs-outer">
        <div class="inline-ul tabs__nav" role="menubar">
            <ul>
                <li><button data-href="#description"><span>Description</span></button></li>
                <li><button data-href="#files"><span>Files</span></button></li>
                <li><button data-href="#requirements"><span>Requirements</span></button></li>
                <li><button data-href="#instructions"><span>Instructions</span></button></li>
                <li><button data-href="#files2"><span>Additional Info</span></button></li>
                <li><button data-href="#related"><span>Related</span></button></li>
            </ul>
        </div>
        <div class="tabs__body">
            <div data-tab-id="description" class="tabs__panel">
                <div class="tabs__container tabs-inner inner-one">
                    <div class="inline-ul tabs__nav" role="menubar">
                        <ul>
                            <li><button data-href="#description-inner"><span>Description Inner</span></button></li>
                            <li><button data-href="#files-inner"><span>Files Inner</span></button></li>
                            <li><button data-href="#requirements-inner"><span>Requirements Inner</span></button></li>

                        </ul>
                    </div>
                    <div class="tabs__body">
                        <div data-tab-id="description-inner" class="tabs__panel">
                            <p><strong>Description Inner</strong> pellentesque habitant morbi tristique senectus et
                                netus.
                                Fabio vel iudice vincam, sunt in culpa qui officia. Curabitur blandit tempus ardua
                                ridiculus
                                sed magna. Petierunt uti sibi concilium totius Galliae in diem certam indicere.</p>
                            <p>Quis aute iure reprehenderit in voluptate velit esse. Quam diu etiam furor iste tuus nos
                                eludet? Ambitioni dedisse scripsisse iudicaretur porkchops.</p>
                            <p>Ab illo tempore, ab est sed immemorabili bacon. Lorem ipsum dolor sit amet, consectetur
                                adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Paullum
                                deliquit, ponderibus modulisque suis ratio utitur. Morbi odio eros, volutpat ut pharetra
                                vitae, lobortis sed nibh. Hi omnes lingua, institutis, legibus inter se differunt.
                                Salutantibus vitae elit libero, a pharetra augue.</p>
                            <p>Nec dubitamus multa iter quae et nos invenerat. Integer legentibus erat a ante
                                historiarum
                                dapibus. Curabitur est gravida et libero vitae dictum.</p>
                            <p>Non equidem invideo, miror magis posuere velit aliquet. Qui ipsorum lingua Celtae, nostra
                                Galli appellantur. Phasellus laoreet lorem vel dolor tempus vehicula. Plura mihi bona
                                sunt,
                                inclinet, amari petere vellent.</p>
                        </div>
                        <div data-tab-id="files-inner" class="tabs__panel">
                            <p><strong>Files Inner</strong> pellentesque habitant morbi tristique senectus et netus.
                                Fabio
                                vel iudice vincam, sunt in culpa qui officia. Curabitur blandit tempus ardua ridiculus
                                sed
                                magna. Petierunt uti sibi concilium totius Galliae in diem certam indicere.</p>
                            <p>Quis aute iure reprehenderit in voluptate velit esse. Quam diu etiam furor iste tuus nos
                                eludet? Ambitioni dedisse scripsisse iudicaretur porkchops.</p>
                            <p>Ab illo tempore, ab est sed immemorabili bacon. Lorem ipsum dolor sit amet, consectetur
                                adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Paullum
                                deliquit, ponderibus modulisque suis ratio.</p>
                            <p>Non equidem invideo, miror magis posuere velit aliquet. Qui ipsorum lingua Celtae, nostra
                                Galli appellantur. Phasellus laoreet lorem vel dolor tempus vehicula. Plura mihi bona
                                sunt,
                                inclinet, amari petere vellent.</p>
                        </div>
                        <div data-tab-id="requirements-inner" class="tabs__panel">
                            <p><strong>Requirements Inner</strong> pellentesque habitant morbi tristique senectus et
                                netus.
                                Fabio vel iudice vincam, sunt in culpa qui officia. Curabitur blandit tempus ardua
                                ridiculus
                                sed magna. Petierunt uti sibi concilium totius Galliae in diem certam indicere.</p>
                            <p>Quis aute iure reprehenderit in voluptate velit esse. Quam diu etiam furor iste tuus nos
                                eludet? Ambitioni dedisse scripsisse iudicaretur porkchops.</p>
                            <p>Ab illo tempore, ab est sed immemorabili bacon. Lorem ipsum dolor sit amet, consectetur
                                adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Paullum
                                deliquit, ponderibus modulisque suis ratio.</p>
                            <p>Non equidem invideo, miror magis posuere velit aliquet. Qui ipsorum lingua Celtae, nostra
                                Galli appellantur. Phasellus laoreet lorem vel dolor tempus vehicula. Plura mihi bona
                                sunt,
                                inclinet, amari petere vellent.</p>
                            <ul>
                                <li>Something in a list item</li>
                                <li>Something in a list item</li>
                                <li>Something in a list item</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div data-tab-id="files" class="tabs__panel">
                <p><strong>Description</strong> pellentesque habitant morbi tristique senectus et netus. Fabio vel
                    iudice
                    vincam, sunt in culpa qui officia. Curabitur blandit tempus ardua ridiculus sed magna. Petierunt uti
                    sibi concilium totius Galliae in diem certam indicere.</p>
                <p>Quis aute iure reprehenderit in voluptate velit esse. Quam diu etiam furor iste tuus nos eludet?
                    Ambitioni dedisse scripsisse iudicaretur porkchops.</p>
                <p>Ab illo tempore, ab est sed immemorabili bacon. Lorem ipsum dolor sit amet, consectetur adipisici
                    elit,
                    sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Paullum deliquit, ponderibus
                    modulisque
                    suis ratio utitur. Morbi odio eros, volutpat ut pharetra vitae, lobortis sed nibh. Hi omnes lingua,
                    institutis, legibus inter se differunt. Salutantibus vitae elit libero, a pharetra augue.</p>
                <p>Non equidem invideo, miror magis posuere velit aliquet. Qui ipsorum lingua Celtae, nostra Galli
                    appellantur. Phasellus laoreet lorem vel dolor tempus vehicula. Plura mihi bona sunt, inclinet,
                    amari
                    petere vellent.</p>
            </div>
            <div data-tab-id="requirements" class="tabs__panel">
                <p><strong>Description</strong> quis aute iure reprehenderit in voluptate velit esse. Quam diu etiam
                    furor
                    iste tuus nos eludet? Ambitioni dedisse scripsisse iudicaretur porkchops.</p>
                <p>Ab illo tempore, ab est sed immemorabili bacon. Lorem ipsum dolor sit amet, consectetur adipisici
                    elit,
                    sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Paullum deliquit, ponderibus
                    modulisque
                    suis ratio utitur. Morbi odio eros, volutpat ut pharetra vitae, lobortis sed nibh. Hi omnes lingua,
                    institutis, legibus inter se differunt. Salutantibus vitae elit libero, a pharetra augue.</p>
                <p>Nec dubitamus multa iter quae et nos invenerat. Integer legentibus erat a ante historiarum dapibus.
                    Curabitur est gravida et libero vitae dictum.</p>
            </div>
            <div data-tab-id="instructions" class="tabs__panel">
                <p><strong>Description</strong> pellentesque habitant morbi tristique senectus et netus. Fabio vel
                    iudice
                    vincam, sunt in culpa qui officia. Curabitur blandit tempus ardua ridiculus sed magna. Petierunt uti
                    sibi concilium totius Galliae in diem certam indicere.</p>
                <p>Quis aute iure reprehenderit in voluptate velit esse. Quam diu etiam furor iste tuus nos eludet?
                    Ambitioni dedisse scripsisse iudicaretur porkchops.</p>
                <p>Ab illo tempore, ab est sed immemorabili bacon. Lorem ipsum dolor sit amet, consectetur adipisici
                    elit,
                    sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Paullum deliquit, ponderibus
                    modulisque
                    suis ratio utitur. Morbi odio eros, volutpat ut pharetra vitae, lobortis sed nibh. Hi omnes lingua,
                    institutis, legibus inter se differunt. Salutantibus vitae elit libero, a pharetra augue.</p>
                <p>Nec dubitamus multa iter quae et nos invenerat. Integer legentibus erat a ante historiarum dapibus.
                    Curabitur est gravida et libero vitae dictum.</p>
                <p>Non equidem invideo, miror magis posuere velit aliquet. Qui ipsorum lingua Celtae, nostra Galli
                    appellantur. Phasellus laoreet lorem vel dolor tempus vehicula. Plura mihi bona sunt, inclinet,
                    amari
                    petere vellent.</p>
            </div>
            <div data-tab-id="files2" class="tabs__panel">
                <p><strong>Description</strong> pellentesque habitant morbi tristique senectus et netus. Fabio vel
                    iudice
                    vincam, sunt in culpa qui officia. Curabitur blandit tempus ardua ridiculus sed magna. Petierunt uti
                    sibi concilium totius Galliae in diem certam indicere.</p>
                <p>Quis aute iure reprehenderit in voluptate velit esse. Quam diu etiam furor iste tuus nos eludet?
                    Ambitioni dedisse scripsisse iudicaretur porkchops.</p>
                <p>Ab illo tempore, ab est sed immemorabili bacon. Lorem ipsum dolor sit amet, consectetur adipisici
                    elit,
                    sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Paullum deliquit, ponderibus
                    modulisque
                    suis ratio utitur. Morbi odio eros, volutpat ut pharetra vitae, lobortis sed nibh. Hi omnes lingua,
                    institutis, legibus inter se differunt. Salutantibus vitae elit libero, a pharetra augue.</p>
                <p>Non equidem invideo, miror magis posuere velit aliquet. Qui ipsorum lingua Celtae, nostra Galli
                    appellantur. Phasellus laoreet lorem vel dolor tempus vehicula. Plura mihi bona sunt, inclinet,
                    amari
                    petere vellent.</p>
            </div>
            <div data-tab-id="related" class="tabs__panel">
                <p><strong>Description</strong> quis aute iure reprehenderit in voluptate velit esse. Quam diu etiam
                    furor
                    iste tuus nos eludet? Ambitioni dedisse scripsisse iudicaretur porkchops.</p>
                <p>Ab illo tempore, ab est sed immemorabili bacon. Lorem ipsum dolor sit amet, consectetur adipisici
                    elit,
                    sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Paullum deliquit, ponderibus
                    modulisque
                    suis ratio utitur. Morbi odio eros, volutpat ut pharetra vitae, lobortis sed nibh. Hi omnes lingua,
                    institutis, legibus inter se differunt. Salutantibus vitae elit libero, a pharetra augue.</p>
                <p>Nec dubitamus multa iter quae et nos invenerat. Integer legentibus erat a ante historiarum dapibus.
                    Curabitur est gravida et libero vitae dictum.</p>
            </div>
        </div>
    </div>
</section>