<section class="container">
    <h2 id="section-toastr">Toastr</h2>
    <div>
        <ul>
            <li><button id="toastr-1">Launch a Toastr</button></li>
            <li><button id="toastr-2">Launch a Toastr Two</button></li>
            <li><button id="toastr-3">Launch a Toastr Three</button></li>
            <li><button id="toastr-4">Launch a Toastr Four</button></li>
        </ul>
    </div>
</section>