{{>top-head title = "Demo"}}
</head>
<body>
{{>header}}
<main role="main" class="body-content">
	<section class="container intro-copy">
		<h1>Baseframe JS</h1>
		<p>A suite of useful JavaScript plugins and functions for front-end development. These plugins are to help solve the most common challenges associated with a build and below are some examples of it in action. To see the documentation on how these can be configured view the <a href="https://www.npmjs.com/package/baseframe-js" target="_baseframe">readme file</a>.</p>
		<footer>
			<br>
			<a class="btn btn--primary" href="https://www.npmjs.com/package/baseframe-js" target="_baseframe">View Readme</a>
		</footer>
	</section>
	{{> sections/parallax}}
	{{> sections/tabs}}
	{{> sections/collapse}} 
	{{> sections/toastr}} 
	{{> sections/modal}}
	{{> sections/select-enhance}} 
	{{> sections/navigation}}
	{{> sections/lazy-load}}
</main>

{{>footer}}

</body>
</html>
 