//
//equalize-content
//

//really just needs a flex-left class to force the elements
//to align vertically with eachother...
//...now you might be wondering why don't we just use flexbox...
//its because there may be nestled elements that need it, or other
//styling may prohibit equalization with the flex property.
.flex-left{
	display: flex;
	flex-flow: row wrap;
}

//transitions will just muck the whole thing up :-/
.in-resize{
	&,
	*{
		transition:none !important;
	}
}

.box{
	border: 1px solid #ccc;
	padding: 1rem;
}
