//
// main navigation
//

$main-nav-arrow-color: #777 !default;

$main-nav-z-index: 1000 !default;
$main-nav-color: #222 !default;

$outline-color: #271c82 !default;

//Level 1 Styles
$main-nav-text-align-lvl1: center !default;
$main-nav-li-lvl-1-bg: #fff !default;
$main-nav-color-lvl-1: $main-nav-color !default;

//Level 2 Styles
$main-nav-text-align-lvl2: left !default;
$main-nav-li-lvl-2-bg: #efefef !default;
$main-nav-li-lvl-2-inner-bg: #efefef !default;
$main-nav-ul-lvl-2-min-width: 200px !default;
$main-nav-color-lvl-2: $main-nav-color !default;

@mixin level-1-dropdown-pos() {
	display: inline-block;
	left: 50%;
	top: 100%;
	padding: 0;
	transform: translateX(-50%);
}

@mixin level-2-dropdown-pos() {
	transform: translateX(0%);
	left: 100%;
	right: auto;
	top: 0;
}

@mixin level-2-dropdown-inner-pos() {
	position: static;
	font-size: 0.875rem;
	li {
		a {
			background: $main-nav-li-lvl-2-inner-bg;
			transition: none;
		}
	}
}

//main navigation/desktop
@media only screen and (min-width: 1025px) {
	//
	// ADA Compliance, works with 3rd Party plugin from ADOBE
	// https://github.com/adobe-accessibility/Accessible-Mega-Menu
	//
	#main-nav {
		ul {
			overflow: visible;
			li {
				margin: 0;
			}
			.sub-nav {
				&.open {
					@include level-1-dropdown-pos();
				}
			}
			ul {
				&.open {
					@include level-2-dropdown-pos() ul {
						@include level-2-dropdown-inner-pos();
					}
				}
			}
		}
	}

	#main-nav {
		display: inline-block;
		position: relative;
		z-index: #{$main-nav-z-index};

		a:focus {
			outline-offset: 2px;
			outline: 1px dotted $outline-color;
		}

		//reset table
		ul {
			padding: 0;
			margin: 0;
			list-style: none;
			z-index: #{$main-nav-z-index + 1};

			li {

				list-style: inherit;
				position: relative;
				text-align: $main-nav-text-align-lvl1;
				background: $main-nav-li-lvl-1-bg;
				display: block;

				> a {
					display: block;
					padding: 1ex;
					color: $main-nav-color-lvl-1;
					text-decoration: none;
				}

				//2nd level List
				ul {
					position: absolute;
					box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
					top: -9999em;
					left: -9999em;
					z-index: #{$main-nav-z-index + 2};
					min-width: $main-nav-ul-lvl-2-min-width;
					li {
						text-align: $main-nav-text-align-lvl2;
						background: $main-nav-li-lvl-2-bg;
						a {
							color: $main-nav-color-lvl-2;
						}
					}
				}
				&:hover,
				&.hover,
				&:focus,
				&.focus {
					> ul {
						@include level-1-dropdown-pos() li {
							&:hover,
							&.hover,
							&:focus,
							&.focus {
								> ul {
									@include level-2-dropdown-pos();
								}
							}

							//if we're on the edge position it to the left of it
							&.ul-on-edge {
								&:hover,
								&.hover,
								&:focus,
								&.focus {
									> ul {
										left: auto;
										right: 100%;
									}
								}
							}
						}
					}
				}
			}
		}
		//first level override
		> ul {
			display: flex;
			align-items: flex-end;
			justify-content: flex-end;
			flex-wrap: nowrap;
			width: 100%;

			> li {
				margin-left: 1rem;
				margin-right: 1rem;

				&:first-child { margin-left: 0;}
				&:last-child { margin-right: 0;}
			}

			li.ul-on-edge {
				> ul {
					transform: translateX(0%);
					right: 0;
					left: auto;
				}
			}
		}
	}
	.back-btn {
		display: none;
	}
}
