<header id="site-header">

	<div class="container">
		<a href="/" class="logo">
			<span class="sr-only">Base Frame Logo, go back to home</span>
		</a>
		<button class="mobile-nav-btn" id="mobile-nav-btn">
			<div class="mobile-nav-btn__inner">
				<div class="nav-top-bar"></div>
				<div class="nav-mid-bar"></div>
				<div class="nav-bot-bar"></div>
			</div>
		</button>
		<nav id="main-nav" class="main-nav" role="navigation">
			<ul id="menuElem">
				<li><a href="#">Example Menu Links</a>
					<ul>
						<li style="display: none;"><a href="#">Can't see link</a></li>
						<li><a href="#">Example Link For Hover</a></li>
						<li><a href="#">Some Link</a></li>
						<li><a href="#">Hover Link</a>
							<ul>
								<li><a href="#">More Links</a></li>
								<li><a href="#">More Links</a>
									<ul>
										<li><a href="#">More Links</a></li>
										<li><a href="#">More Links</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="#">Some Fake Link</a></li>
						<li><a href="#">Some Fake Link</a></li>
					</ul>
				</li>
				<li><a href="#">Plugin Pages</a>
					{{>plugins-list}}
				</li>
			</ul>
		</nav>
	</div>
</header>
