<ul>
    <li><a href="/collapse">Collapse</a></li>
    <li><a href="/nav-desktop">Desktop Navigation</a></li>
    <li><a href="/nav-mobile">Mobile Navigation</a></li>
    <li><a href="/equalize-content">Equalize</a></li>
    <li><a href="/marketo-magic">Marketo Form Magic</a></li>
    <li><a href="/popup">Popup</a></li>
    <li><a href="/responsive-dropdown">Responsive Dropdown</a></li>
    <li><a href="/tabs">Tabs</a></li>
    <li><a href="/parallax">Parallax</a></li>
</ul>