<ul>
    <li><a href="/collapse.html">Collapse</a></li>
    <li><a href="/nav-desktop.html">Desktop Navigation</a></li>
    <li><a href="/nav-mobile.html">Mobile Navigation</a></li>
    <li><a href="/equalize-content.html">Equalize</a></li>
    <li><a href="/marketo-form.html">Marketo Form</a></li>
    <li><a href="/popup.html">Popup</a></li>
    <li><a href="/tabs.html">Tabs</a></li>
    <li><a href="/parallax.html">Parallax</a></li>
</ul>