<ul>
    <li><strong tabindex="0">Plugins List</strong></li>
    <li><a href="/collapse.html">Collapse</a></li>
    <li><a href="/equalize-content.html">Equalize</a></li>
    <li><a href="/form-input.html">Form Inputs</a></li>
    <li><a href="/nav-desktop.html">Desktop Navigation</a></li>
    <li><a href="/nav-mobile.html">Mobile Navigation</a></li>
    <li><a href="/modal.html">Modal</a></li>
    <li><a href="/parallax.html">Parallax</a></li>
    <li><a href="/tabs.html">Tabs</a></li>
</ul>